<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="/web/static/src/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="/web/static/src/dist/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="/web/static/src/dist/css/bootstrap.min.css"/>
		<script src="/web/static/src/dist/js/jquery-3.0.0.min.js"></script>
		<script src="/web/static/src/dist/js/bootstrap.js"></script>
		<title></title>
	</head>
	<body style="background-color: #F2F2F2;padding: 20px 0 0 0;">
		<div class="container">
			<div class="form-group">
				<a href="/jmdisedu/query1/" class="btn btn-success" style="width: 100%;">查询专业</a>
			</div>
			<div class="form-group">
				<a href="/jmdisedu/query2/" class="btn btn-success" style="width: 100%;">查询高校</a>
			</div>
		</div>
	</body>
</html>
